@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/



/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto";
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.clearfix:after {
    content: ""; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

* html .clearfix             { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }



::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}


/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

p {

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.overflow_wrapp {
    overflow: hidden;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/



/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 --*/

.h_wrapp {
    text-align: center;
}

.h_wrapp h2 {
    padding: 8px 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: #c21727;
}

.h_wrapp p {
    padding: 8px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

.thumbnails {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin: 20px -15px;
}

.thumb {
    display: block;
    width: calc(33.33% - 30px);
    margin: 15px;
    border: 1px solid #f4f4f4;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb:hover {
    -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 4px 12px 0 rgba(0,0,0,.3);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.3);
}

.thumb .img_box {
    height: 210px;
    overflow: hidden;
    position: relative;
}

.thumb .img_box img {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumb .descript {
    background-color: #ffffff;
    padding: 3px 10px 0 10px;
    -webkit-transition-property: background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb:hover .descript {
    background-color: #c21b2b;
}

.thumb .title_wrapp {
    margin-top: -35px;
    padding: 14px 20px;
    position: relative;
    z-index: 2;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 17.28px .72px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 17.28px .72px rgba(0, 0, 0, .05);
    box-shadow: 0 0 17.28px .72px rgba(0, 0, 0, .05);
}

.thumb .title_wrapp h3 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #000000;
}

.thumb .table {
    display: table;
    width: 100%;
    /*border-collapse: collapse;*/
}

.thumb .table_row {
    display: table-row;
    vertical-align: top;
}

.thumb .table_row .table_cell {
    display: table-cell;
    vertical-align: top;
    padding-top: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid #f7f7f7;
     -webkit-transition-property: border-color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border-color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border-color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border-color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border-color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb .table_row:last-child .table_cell {
    border-bottom: none !important;
}

.thumb .table_row .table_cell:nth-child(1) {
    padding-right: 5px;
    padding-left: 20px;
}

.thumb .table_row .table_cell:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
}

.table p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #000000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb:hover .table p {
    color: #ffffff;
}

.thumb:hover .table_row .table_cell {
    border-bottom: 1px solid #d4606b;
}

.grey_bg {
    background-color: #f9f9f9;
}

.article_wrapp {
    padding: 10px 0;
}

.article {
    max-width: 941px;
    margin: 11px auto 28px auto;
}

.article h2 {
    padding: 16px 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    color: #c41e26;
}

.article h3 {
    padding: 20px 0 5px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
}

.article h4 {
    padding: 5px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

.article p {
    padding: 5px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

.article h3 + p {
    padding-top: 8px;
}

.article ul {
    padding: 5px 0;
}

.article ul + p {
    padding-top: 8px;
}

.article ul li {
    position: relative;
    padding-left: 36px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

.article ul li:before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #cc505c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 13px;
}

.article ol {
    padding: 5px 0;
}

.article ol + p {
    padding-top: 8px;
}

.article ol li {
    position: relative;
    padding-left: 36px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
}

.article ol li:before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border: 1px solid #cc505c;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 13px;
}

.article img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 23px auto 12px auto;
}

/*-- /Section 1 --*/

@media only screen and (max-width: 1200px) {
    .row {
        padding: 0 25px;
    }
}

@media only screen and (max-width: 1024px) {
    .thumb {
        width: calc(50% - 30px);
    }
}

@media only screen and (max-width: 768px) {
    .h_wrapp p {
        padding: 8px 0;
        font-size: 16px;
        line-height: 23px;
    }
    .thumbnails {
        margin: 13px -15px 45px -15px;
    }
}

@media only screen and (max-width: 670px) {
    .thumbnails {
        margin: 13px 0 45px 0;
    }

    .thumb {
        display: block;
        width: 100%;
        max-width: 560px;
        margin: 15px auto;
    }
}

@media only screen and (max-width: 600px) {

    .row {
        padding: 0 15px;
    }

    .grey_resp {
        background-color: #f9f9f9;
    }

    .h_wrapp h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .h_wrapp p {
        font-size: 14px;
        line-height: 21px;
    }

    .thumbnails {
        margin: 13px 0;
    }

    .thumb {
        margin: 8px auto;
    }

    .thumb .img_box {
        height: 170px;
    }

    .thumb .title_wrapp {
        margin-top: -31px;
        padding: 11px 20px;
    }

    .thumb .title_wrapp h3 {
        font-size: 13px;
        line-height: 16px;
    }

    .table p {
        font-size: 12px;
        line-height: 20px;
    }

    .thumb .table_row .table_cell {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .article {
        margin-top: 0;
    }

    .article h2 {
        padding-top: 0;
        font-size: 21px;
        line-height: 24px;
    }

    .article h3 {
        padding: 14px 0 3px 0;
        font-size: 18px;
        line-height: 24px;
    }

    .article h4 {
        padding: 3px 0;
        font-size: 14px;
        line-height: 24px;
    }

    .article p {
        padding: 3px 0;
        font-size: 14px;
        line-height: 24px;
    }

    .article ul li {
        padding-left: 28px;
        font-size: 14px;
        line-height: 24px;
    }

    .article ul li:before {
        width: 6px;
        height: 6px;
        top: 9px;
        left: 8px;
    }

    .article ol li {
        padding-left: 28px;
        font-size: 14px;
        line-height: 24px;
    }

    .article ol li:before {
        width: 4px;
        height: 4px;
        top: 8px;
        left: 8px;
    }

    .article ul + p {
        padding-top: 4px;
    }

    .article ol + p {
        padding-top: 4px;
    }

    .article img {
        margin: 23px auto 5px auto;
    }

    .article img + h3 {
        padding-top: 5px;
    }

}


